@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:befor, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "helveticaneuecyr";
  src: url("../fonts/HelveticaNeueCyr-Black.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Black.svg") format("svg");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url("../fonts/helveticaneuecyr-light.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light.svg") format("svg");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url("../fonts/helveticaneuecyr-thin.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thin.svg") format("svg");
  font-weight: 100;
  font-style: thin;
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url("../fonts/helveticaneuecyr-roman.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Light.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Light.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Light.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Light.svg") format("svg");
  font-weight: 300;
  font-style: light;
}
[class*=__container] {
  max-width: 94.36em;
}

body {
  font-family: helveticaneuecyr;
}

@media (max-width: 1199.98px) {
  body {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1981px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 2600px) {
  body {
    font-size: 35px;
  }
}
@media (min-width: 3300px) {
  body {
    font-size: 45px;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #151515;
}

@media (max-width: 699.98px) {
  .header {
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-left {
    margin-top: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .header-left__logo {
    font-size: 1.71em;
    transition: all 0.3s ease-out 0s;
  }
  .header-left__logo:hover {
    font-size: 1.81em;
  }
  .header-left__logo a {
    color: #ffffff;
  }
  .red {
    color: #f23005;
  }
  .center-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .center-header__user-img {
    flex: 0 1 48%;
    height: 50px;
    position: relative;
    z-index: 3;
  }
  .center-header__user-info {
    flex: 0 1 48%;
    white-space: nowrap;
  }
  .center-header__search {
    background-color: #f23005;
    flex: 0 1 100%;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    font-weight: 400;
  }
  .user-info__name a {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.3s ease-out 0s;
  }
  .user-info__name a:hover {
    color: #f23005;
    transition: all 0.3s ease-out 0s;
  }
  .user-info__days {
    font-size: 0.86em;
    text-transform: none;
  }
  .search {
    display: flex;
    justify-content: center;
  }
  .form {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .form__field {
    background-color: #f23005;
    border-bottom: 1px solid #ffffff;
    margin: 0 1.79em 0 110px;
    padding: 0.43em 0.79em;
    font-size: 0.86em;
    font-weight: 300;
    letter-spacing: 0.08em;
    color: #ffffff;
    flex: 1 1 auto;
  }
  .form__button {
    background-color: #f23005;
    margin-right: 1em;
    transition: all 0.3s ease-out 0s;
    flex: 0 1 10%;
  }
  .form__button:hover {
    background-color: #f23005;
    margin-right: 1.93em;
    transform: scale(1.15, 1.15);
  }
}
@media (min-width: 700px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #0a0a0a;
    display: flex;
  }
  .header__left {
    flex: 0 1 18.5em;
  }
  .header__container {
    display: flex;
    flex: 1 1 auto;
  }
  .header-left {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .header-left__logo {
    font-size: 1.71em;
    padding-left: 1.48em;
    transition: all 0.3s ease-out 0s;
  }
  .header-left__logo:hover {
    font-size: 1.81em;
    padding-left: 1.28em;
  }
  .header-left__logo a {
    color: #ffffff;
  }
  .red {
    color: #f23005;
  }
  .center-header {
    display: flex;
    justify-content: space-between;
  }
  .center-header__user-img {
    flex: 0 1 auto;
  }
  .center-header__user-info {
    flex: 1 1 auto;
  }
  .center-header__search {
    background-color: #f23005;
    flex: 0 1 18.5em;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0 1em;
    white-space: nowrap;
  }
  .user-info__name a {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.3s ease-out 0s;
  }
  .user-info__name a:hover {
    color: #f23005;
    transition: all 0.3s ease-out 0s;
  }
  .user-info__days {
    font-size: 0.86em;
    text-transform: none;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form__field {
    background-color: #f23005;
    border-bottom: 1px solid #ffffff;
    font-size: 0.86em;
    margin: 0 1.79em 0 2.14em;
    padding: 0.43em 0.79em;
    font-weight: 300;
    letter-spacing: 0.08em;
    color: #ffffff;
  }
  .form__button {
    background-color: #f23005;
    transition: all 0.3s ease-out 0s;
  }
  .form__button:hover {
    background-color: #f23005;
    margin-right: 1.93em;
    transform: scale(1.15, 1.15);
  }
}
@media (min-width: 900px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #0a0a0a;
    display: flex;
  }
  .header__left {
    flex: 0 0 18.5em;
  }
  .header__container {
    display: flex;
    flex: 1 1 auto;
  }
  .header__right {
    flex: 0 0 18.5em;
  }
  .header-left {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .header-left__logo {
    font-size: 1.71em;
    padding-left: 1.48em;
    transition: all 0.3s ease-out 0s;
  }
  .header-left__logo:hover {
    font-size: 1.81em;
    padding-left: 1.28em;
  }
  .header-left__logo a {
    color: #ffffff;
  }
  .red {
    color: #f23005;
  }
  .center-header {
    display: flex;
    justify-content: space-between;
  }
  .center-header__user-img {
    flex: 0 1 6.81%;
  }
  .center-header__user-info {
    flex: 1 1 63.51%;
  }
  .center-header__search {
    background-color: #f23005;
    flex: 0 1 29.68%;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0 1em;
    white-space: nowrap;
  }
  .user-info__name a {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.3s ease-out 0s;
  }
  .user-info__name a:hover {
    color: #f23005;
    transition: all 0.3s ease-out 0s;
  }
  .user-info__days {
    font-size: 0.86em;
    text-transform: none;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form__field {
    background-color: #f23005;
    border-bottom: 1px solid #ffffff;
    width: 10.29em;
    margin: 0 1.79em 0 2.14em;
    padding: 0.43em 0.79em;
    font-size: 0.86em;
    font-weight: 300;
    letter-spacing: 0.08em;
    color: #ffffff;
  }
  .form__button {
    background-color: #f23005;
    margin-right: 1.93em;
    transition: all 0.3s ease-out 0s;
  }
  .form__button:hover {
    background-color: #f23005;
    margin-right: 1.93em;
    transform: scale(1.15, 1.15);
  }
}
@media (min-width: 1200px) {
  .header__left {
    flex: 0 0 23.5em;
  }
  .header__right {
    flex: 0 0 23.5em;
  }
}
@media (min-width: 1000px) {
  .form__field {
    width: 20.29em;
  }
}
.main {
  padding: 0 1em;
  display: flex;
  margin-bottom: 12em;
}

@media (min-width: 700px) {
  .main {
    margin-top: 6.5em;
    padding: 0 2.5em;
  }
}
.menu {
  flex: 0 0 14em;
}
.menu__top {
  margin-top: 3.5em;
}
.menu__top a {
  font-size: 1em;
  line-height: 4em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  white-space: nowrap;
  padding-left: 2.56em;
  transition: all 0.3s ease-out 0s;
}
.menu__top a:hover {
  color: #f23005;
}

@media (min-width: 700px) {
  .menu {
    flex: 0 0 16em;
  }
  .menu__top {
    margin-top: 4.86em;
  }
  .menu__top a {
    font-size: 1.14em;
    line-height: 5em;
  }
}
@media (min-width: 1200px) {
  .menu {
    flex: 0 0 21em;
  }
}
.top-menu__list li:nth-child(1) {
  background: url("../img/player/icon/1.png") 0 50% no-repeat;
}
.top-menu__list li:nth-child(2) {
  background: url("../img/player/icon/2.png") 0 50% no-repeat;
}
.top-menu__list li:nth-child(3) {
  background: url("../img/player/icon/3.png") 0 50% no-repeat;
}
.top-menu__list li:nth-child(4) {
  background: url("../img/player/icon/4.png") 0 50% no-repeat;
}
.top-menu__list li:nth-child(5) {
  background: url("../img/player/icon/5.png") 0 50% no-repeat;
}
.top-menu__list li:nth-child(6) {
  background: url("../img/player/icon/6.png") 0 50% no-repeat;
}
.top-menu__list li:nth-child(7) {
  background: url("../img/player/icon/7.png") 0 50% no-repeat;
}

.statistic {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.statistic__header::before {
  content: "";
  display: block;
  width: 47px;
  height: 2px;
  background-color: #f23005;
  margin: 6.07em 0 1em 0;
}
.statistic__header {
  line-height: 5em;
  color: #ffffff;
}
.statistic__list {
  line-height: 2em;
  color: #6e6e6e;
}

.list-statistic {
  display: flex;
  justify-content: space-between;
  padding-right: 5em;
}
.list-statistic__numbers {
  text-align: right;
}

@media (max-width: 599.98px) {
  .albums {
    margin-top: 3.5em;
  }
  .albums__front img {
    width: 100%;
    transition: all 0.3s ease-out 0s;
  }
  .albums__front img:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 20px #f23005;
  }
  .albums__grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1em;
  }
  .albums__grid img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out 0s;
  }
  .albums__grid img:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px #f23005;
  }
}
@media (min-width: 600px) {
  .albums {
    margin-top: 3.5em;
  }
  .albums__front img {
    width: 100%;
    transition: all 0.3s ease-out 0s;
  }
  .albums__front img:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 20px #f23005;
  }
  .albums__grid {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5em;
  }
  .albums__grid img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out 0s;
  }
  .albums__grid img:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px #f23005;
  }
}
@media (min-width: 700px) {
  .albums {
    margin-top: 2.14em;
  }
  .albums__front img {
    width: 100%;
    transition: all 0.3s ease-out 0s;
  }
  .albums__front img:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 20px #f23005;
  }
  .albums__grid {
    margin-top: 2.14em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 2.14em;
  }
  .albums__grid img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out 0s;
  }
  .albums__grid img:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px #f23005;
  }
}
@media (max-width: 699.98px) {
  .submenu {
    overflow: hidden;
    height: 3.5em;
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    background: #151515;
  }
  .submenu__title {
    font-size: 1.14em;
    line-height: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    white-space: nowrap;
    padding-left: 2.56em;
    margin: 1em 2.5em 0;
    text-align: center;
    box-shadow: 0px 0px 10px #f23005;
    border-radius: 25px;
  }
  .submenu__tracks a {
    font-size: 0.79em;
    line-height: 4em;
    font-weight: 300;
    letter-spacing: 0.08em;
    color: #8c8c8c;
    text-transform: capitalize;
    padding-left: 0.87em;
  }
  .submenu__tracks {
    border-left: 1px solid #f23005;
  }
  .submenu:hover {
    flex: 0 0 16em;
    height: auto;
    padding-bottom: 2em;
    padding-right: 40px;
    box-shadow: 0px 0px 300px #151515;
  }
  .list-title {
    font-size: 1.5em;
    line-height: 4em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    margin-left: 5.79em;
    height: 4em;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
  }
  .list-title__track a {
    transition: all 0.3s ease-out 0s;
  }
  .list-title__track a:hover {
    color: #ffffff;
  }
  .list-title:hover {
    color: #f23005;
    height: auto;
  }
}
@media (min-width: 700px) {
  .submenu {
    flex: 0 0 16em;
  }
  .submenu__title {
    background: url("../img/player/icon/9.png") 0 47% no-repeat;
    font-size: 1.14em;
    line-height: 5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    white-space: nowrap;
    padding-left: 2.56em;
    margin: 3.88em 2.5em 0;
  }
  .submenu__tracks a {
    font-size: 0.79em;
    line-height: 4em;
    font-weight: 300;
    letter-spacing: 0.08em;
    color: #8c8c8c;
    text-transform: capitalize;
    padding-left: 0.87em;
  }
  .submenu__tracks {
    border-left: 1px solid #f23005;
  }
  .list-title {
    font-size: 1em;
    line-height: 4em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    margin-left: 5.79em;
    height: 4em;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
  }
  .list-title__track a {
    transition: all 0.3s ease-out 0s;
  }
  .list-title__track a:hover {
    color: #ffffff;
  }
  .list-title:hover {
    color: #f23005;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .submenu {
    flex: 0 0 21em;
  }
}
.footer {
  padding: 0 2.5em;
}

@media (max-width: 999.98px) {
  .player {
    background-color: #0a0a0a;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 16em;
  }
  .player__left {
    flex: 0 1 40%;
    order: 1;
  }
  .player__container {
    flex: 0 1 100%;
    order: 3;
  }
  .player__right {
    flex: 0 1 60%;
    order: 2;
  }
}
@media (min-width: 1000px) {
  .player {
    background-color: #0a0a0a;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 9.14em;
  }
  .player__left {
    flex: 0 0 23.5em;
  }
  .player__container {
    flex: 1 1 auto;
  }
  .player__right {
    flex: 0 0 23.5em;
  }
}
.track-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-track__album a {
  font-size: 1.14em;
  line-height: 1.79em;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease-out 0s;
}
.text-track__album a:hover {
  color: #f23005;
}
.text-track__name a {
  font-size: 1em;
  line-height: 1.79em;
  font-weight: 300;
  color: #b3b3b3;
  transition: all 0.3s ease-out 0s;
}
.text-track__name a:hover {
  color: #f23005;
}

@media (max-width: 599.98px) {
  .player-center a {
    padding: 0 1%;
    transition: all 0.3s ease-out 0s;
  }
  .player-center a:hover {
    transform: scale(1.2, 1.2);
  }
  .player-center {
    display: flex;
    align-items: center;
  }
  .player-center__all-track {
    height: 11px;
    background-color: #292929;
    border-radius: 25px;
    width: 100%;
  }
  .player-center__played-track {
    width: 50.7%;
    height: 11px;
    border-radius: 25px;
    background-color: #f23005;
  }
}
@media (min-width: 600px) {
  .player-center a {
    padding: 1em;
    transition: all 0.3s ease-out 0s;
  }
  .player-center a:hover {
    transform: scale(1.2, 1.2);
  }
  .player-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .player-center__all-track {
    height: 11px;
    background-color: #292929;
    border-radius: 25px;
    margin: 0 10px;
    flex: 1 1 929px;
    width: 100%;
  }
  .player-center__played-track {
    width: 50.7%;
    height: 11px;
    border-radius: 25px;
    background-color: #f23005;
  }
}
.player-volume a {
  transition: all 0.3s ease-out 0s;
}

.player-volume a:hover {
  transform: scale(1.2, 1.2);
}

.player-volume {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.player-volume__max {
  display: block;
  width: 100%;
  height: 9px;
  background-color: #292929;
  border-radius: 25px;
  margin: 0 10px;
}
.player-volume__current {
  display: block;
  width: 55.2%;
  height: 9px;
  background-color: #f23005;
  border-radius: 25px;
}